*{
	margin: 0px;
	padding: 0px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.top{
	height: 25px;
	border-radius:0px 0px 5px 5px;
	background-color: #fff;
	width: 1200px;
	border-bottom:1px #999 solid;
	border-left:1px #999 solid;
	border-right:1px #999 solid;
	position:fixed;
	left:0px;right:0px;
	margin:0px auto;
	box-shadow: 0px 0px 2px #000 ;
	z-index: 2
}
.top_ner{
	height: 25px;
}
.logo{
	height: 80px;
	width:1200px;
	margin:0px auto;
}
.daohang_outer{
	margin:0px auto;
	width:1230px;
	background: #FFF;
	height: 36px;
	overflow: hidden;
	box-shadow: 0px 0px 2px #999 ;
	border-left:30px #fff solid;
	border-right:30px #fff solid;
	border-radius: 5px;
}
.daohang_inner{
	margin-top:5px;
	width: 100%;
	background: #5F851C;
	height: 26px;
	border-radius:6px 26px 6px 26px;
}
.daohang_ul{
	width: 1120px;
	margin:0px auto;
}
.daohang_ul li{
	float:left;
	max-width:200px;
	padding:0px 20px;
	text-align: center;
	list-style: none;
	height: 26px;
	border-radius:6px 26px 6px 26px;
	line-height:26px;
	cursor: pointer;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
}
.daohang_ul li:HOVER{
	background:#FFF;
	color:#000;
}
.context{
	margin:5px auto;
	width: 1200px;
	height: 1500px;
	background: #FAFAFA;
	border-radius:5px;
	box-shadow: 0px 0px 2px #000 ;
}

.context_right_1{
	width: 396px;
	height: 400px;
	float:right;
	border:10px #EEE solid;
	box-shadow: 0px 0px 2px #264E03;
	border-radius:9px;
}
.context_up{	
	width: 1200px;
	height: 90px;
	box-shadow: 0px 0px 2px #264E03;
	border-radius:3px;
	margin-bottom: 3px;
	background: url("../img/bj_1.jpg");
	text-align:center;
	padding-top: 25px;
}
.clear_both{
	clear:both;
}
.context{
	
}
.search{
	height: 39px;
	width: 400px;
	font-size: 14px;
	font-weight:bold;
	color: black;
	display: inline-block;
}
.search_button{
	background: url("../img/search.png");
	width: 150px;
	height: 40px;
	border: none;
	cursor: pointer;
}
.context_text{
	width: 1200px;
	height: 50px;
	box-shadow: 0px 0px 2px #000;
	border-radius:3px;
	margin-bottom: 3px;
	text-align:center;
}
.clear_div{
	clear: both;
}